.container2 {
    position: relative;
    text-align: center;
    color: white;
}

.items {
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: black
}

.container2 img {
    position: absolute;
}